* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.player {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 380px;
  border-radius: 20px;
  box-shadow: 0 0 0 20px rgba(255, 254, 254, 0.15);
  background-color: white;
  text-align: center;
}

body {
  background-color: #c4d2f5;
  font-family: "Inter", sans-serif;
  padding: 100px;
}

.player-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.player-track-title {
  font-size: 18px;
  font-weight: 700;
}

.player-track-artist {
  font-size: 15px;
  font-weight: 700;
  color: #909090;
}

.player-progress {
  display: flex;
  gap: 10px;
  width: 100%;
  align-items: center;
  color: #909090;
  font-size: 15px;
  font-weight: 700;
}

.player-progress-bar {
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background-color: #f6f6ef;
}

.player-progress-inner {
  width: 120px;
  height: 6px;
  background-color: #e783bc;
}

.player-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  background-color: #e783bc;
  border-radius: 37px;
}

audio {
  display: none;
}

.player-button {
  color: white;
}
